*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #209CF2; /*#B97ab4*/
    /*
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    */
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 50px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

/* Bagian Judul */
#Judul{
    color:rgb(255, 255, 255);
    text-align: center;
}

/* Bagian Background Untuk Tabel 
#Data{
    background-color: rgba(255, 255, 255, 0.52);
    height: 490px;
    width: 700px;
    border-radius: 10px;
}
*/

/* Bagian Background Tiket */
#DataTiket{
    background-color: #E0E0E0;
    border-radius: 10px;
    height: 100px;
}

/* Bagian Keterangan Terkait Lokasi Keberangkatan Waktu Keberangkatan */
#Lokasi, #Waktu{
    margin-top: 15px;
    text-align: center;
}

/* Bagian Link Alternatif Untuk Daftar Akun*/
#TombolBeli{
    font-size: 20px;
    background-color: #9AF071;
    height: 45px;
    width: 100px;
}
