*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

/* Bagian Body */
body{
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #209CF2;
    height:100vh;
}

/*h1{
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
*/
.navbar{
    background-color: white;
}

#navbarNav{
    font-size: 30px;
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 5rem;
    font-weight: bold; /* Mengatur tulisan agar cetak tebal atau bold */
}

/* Bagian label/jdul input Nama, No Telepon, Email, Alamat, Id Pengguna, No Perusahaan, Kata Sandi & Konformasi Sandi*/
#Nama, #Email, #Alamat, #NoTelpon, #IdPengguna, #NoPerusahaan, #KataSandi, #KonfirmasiSandi{
    width: 200px;
    margin-top: 10px;
}

/* Bagian label/judul input Nama */
#Nama{
    margin-right: 340px;
}

/* Bagian label/judul input No telpon */
#NoTelpon{
    margin-right: 310px;
}

/* Bagian label/judul input Email dan Alamat */
#Email, #Alamat{
    margin-right: 340px;
}

/* Bagian label/judul input Id Pengguna dan No Perusahaan */
#IdPengguna, #NoPerusahaan{
    margin-right: 280px;
}

/* Bagian label/judul input Kata Sandi */
#KataSandi{
    margin-right: 300px;
}

/* Bagian label/judul input Konfirmasi Kata Sandi */
#KonfirmasiSandi{
    margin-right: 210px;
}

/* Bagian Input Nama, No Telepon, Email, Alamat, Id Pengguna, No Perusahaan, Kata Sandi & Konformasi Sandi*/
#InputNama, #InputNoTelpon, #InputEmail, #InputAlamat, #InputIdPengguna, 
#InputNoPerusahaan, #InputKataSandi, #InputKonfirmasiSandi{
    width: 400px;
    border-radius:10px;
}

/* Bagian Tombol Kembali Dan Tombol Daftar */
#TombolKembali, #TombolDaftar{
    color: rgb(255, 255, 255);
    width: 110px;
    height: 45px;
    border-radius: 10px;
}

/* Bagian Tombol Daftar */
#TombolDaftar{
    background-color:  #ED1C24;
}

/* Bagian Tombol Kembali */
#TombolKembali{
    background-color: #787878;
}