*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

/* Bagian Body */
body{
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #209CF2;
    height:100vh;
}

/*h1{
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
*/
.navbar{
    background-color: white;
}

#navbarNav{
    font-size: 30px;
    /*padding-left: 100px;
    padding-right: 150px;
    max-height: 70px; */
      
}  


/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 5rem;
    /*padding-right: 5rem;
    padding-left: 5rem;
    color:black;*/
    font-weight: bold; /* Mengatur tulisan agar cetak tebal atau bold */
}

/*
#Nama, #Email, #Alamat, #NoTelpon, #IdPengguna, #NoPerusahaan, #KataSandi, #KonfirmasiSandi{
    width: 200px;
    margin-right: 280px;
}
*/

/* Bagian Input Nama, No Telepon, Email, Alamat, Id Pengguna, No Perusahaan, Kata Sandi & Konformasi Sandi*/
#InputNama, #InputNoTelpon, #InputEmail, #InputAlamat, #InputIdPengguna, 
#InputNoPerusahaan, #InputKataSandi, #InputKonfirmasiSandi{
    width: 400px;
    border-radius:10px;
}

#TombolKembali, #TombolDaftar{
    color: rgb(255, 255, 255);
    width: 110px;
    height: 45px;
    border-radius: 10px;
}

#TombolDaftar{
    background-color:  #ED1C24;
}

#TombolKembali{
    background-color: #787878;
}