*{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    font-family: 'Merriweather', seri f;
    font-weight: bold;
}

/* Bagian Body */
body{
    background-color: #209CF2;
    color: #ffffff;
    font-weight: bold;
  
}

h1{
    font-weight: bold;
    font-family: 'Merriweather', seri f;
}
.navbar{
    background-color: white;
}

#navbarNav{
    font-size: 30px;
    /*padding-left: 100px;*/
    padding-right: 150px;
    max-height: 70px;   
}  


/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    color:black;
    height:100vh;
    font-weight: bold; /* Mengatur tulisan agar cetak tebal atau bold */
}

#inputIdPengguna{ /* Mengatur bagian id pengguna */
    width:400px;
    border-radius:10px;
}

#inputNama{ /* Mengatur bagian nama */
    width:400px;
    border-radius:10px;
}

#inputNoTelpon{ /* Mengatur bagian no telpon */
    width:400px;
    border-radius:10px;
}


#inputNoPerusahaan{
    width:400px;
    border-radius:10px;
}
#inputEmail{ /* Mengatur bagian email */
    width:400px;
    border-radius:10px;
}
#inputAlamat{ /* Mengatur bagian alamat */
    width:400px;
    border-radius:10px;
}
#inputKataSandi{ /* Mengatur bagian sandi*/
    width: 400px;
    border-radius:10px;

}
#inputKonfirmasiSandi{ /* Mengatur bagian konfirmasi sandi */
    width: 400px;
    border-radius:10px;
    
}

#col-form-label{ /* Mengatur bagian id = keterangan input */
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}

#btn btn-danger{ /* Mengatur bagian button daftar */
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    color:white;
}
