*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #209CF2; /*#B97ab4*/
    /*
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    */
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 50px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

#Data{
    background-color: rgba(255, 255, 255, 0.52);
    height: 490px;
    border-radius: 10px;
}

#LatarLokasi, #LatarWaktu{
    background-color: #E0E0E0;
}

#LatarLokasi{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#LatarWaktu{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*





#Lokasi, #Waktu{
    text-align: center;
}

.movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
  
.container {
    perspective: 1000px;
    margin-bottom: 30px;
}
*/

.seat {
    background-color: #3D9861;
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
    height: 65px; 
    width: 65px;
    margin: 3px;
}

.seat.selected {
    background-color: #263F98;
}
  
.seat.sold {
    background-color: #A62800;
}
  
.seat:nth-of-type(2) {
    margin-right: 18px;
}
  
.seat:nth-last-of-type(2) {
    margin-left: 18px;
}
  
.seat:not(.sold):hover {
    cursor: pointer;
    transform: scale(1.1);
}

.showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

/*
.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
  
.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 120px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-48deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
*/

#WarnaTersedia{
    background-color: #3D9861;
}

#WarnaTerisi{
    background-color: #A62800;
}

#WarnaTerpilih{
    background-color: #263F98;
}


#Tersedia, #Terisi, #Terpilih{
    font-size: 22px;
}

#Harga{
    color: #FFFFFF;
    background-color: #ED1C24;
    font-size: 28px;
}

#TombolBeli{
    font-size: 22px;
    background-color: #9AF071;
    height: 45px;
    width: 100px;
    border-radius: 10px;
}

/*

p.text{
    margin: 5px 0;
}

p.text span{
    color: rgb(158, 248, 158);
}

*/
