*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #2D86C4; /*#B97ab4*/
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 80px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar-nav > .nav-item > .nav-link:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(105,189,210);
    border-radius: 40px 20px;
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

/* Bagian Untuk Background Paling Belakang(Ukuran Background Yang Besar) */
#Deskripsi{
    background-color: rgba(255, 255, 255, 0.52);
    height: 80vh;
    width: 95%;
    border-radius: 10px;
}

/* Bagian Untuk Background Pada Narasi(Ukuran Background Yang Kecil) */
#IsiDeskripsi{
    background-color: rgba(161, 63, 63, 0.52);
    border-radius: 10px;
    height: 25vh;
    width: 75%;
    margin-top: 100px;
    border: 1px solid black;
}

/* Bagian Deskripsi Tentang Notifikasi Pembayaran Tiket */
#Narasi{
    max-height: 350px;
    max-width: 850px;
    padding-top: 8px;
}
