*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Slab', serif;
}

body{
    background-color: #2D86C4; /*#B97ab4*/
    background-image: url('../Img/Wayang.png');
    background-position: -150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 80px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar-nav > .nav-item > .nav-link:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(105,189,210);
    border-radius: 40px 20px;
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

#Data{
    background-color: rgba(255, 255, 255, 0.52);
    height: 600px;
    width: 700px;
    border-radius: 10px;
}

#Judul{
    padding-top: 2rem;
}

.form-label{
    margin-top: 20px;
    margin-right: 260px;
}

.form-control{
    height: 40px;
    width: 350px;
}

#TombolLanjutkan{
    font-weight: bold;
    color:rgb(0, 0, 0);
    background-color: rgba(237, 28, 36, 0.8);
    margin-top: 20px;
}