*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #2D86C4; /*#B97ab4*/
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 50px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}

/* Bagian Konten */
#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

/* Bagian Background Untuk From Pembayaran */
#Data{
    background-color: rgba(255, 255, 255, 0.52);
    height: 490px;
    width: 1000px;
    border-radius: 10px;
}

/* Bagian Judul */
#Judul{
    padding-top: 2rem;
}

/* Bagian Harga */
#Harga{
    background-color: #E0E0E0;
    font-size: 32px;
}

/* Bagian Opsi Untuk Memilih Tunai & Non-Tunai */
.form-select-lg{
    font-size: 28px;
    text-align: center;
    width: 200px;
}

/* Bagian Tombol Kembali Dan Tombol Bayar */
#TombolKembali, #TombolBayar{
    color: rgb(255, 255, 255);
    width: 150px;
    height: 45px;
    border-radius: 10px;
}

/* Bagian Tombol Bayar */
#TombolBayar{
    background-color:  #ED1C24;
    margin-right: 200px;
}

/* Bagian Tombol Kembali */
#TombolKembali{
    background-color: #787878;
    margin-left: 200px;
}
