*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Slab', serif;
}

body{
    background-color: #514cb8; /*#B97ab4*/
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #Ee84e7;
}

#navbarNav{
    font-size: 30px;
    color: rgb(255, 255, 255);
    /*padding-left: 100px;*/
    padding-right: 150px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: rgb(255, 255, 255);
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}

.navbar-nav > .nav-item > .nav-link:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(105,189,210);
    border-radius: 40px 20px;
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

/* Bagian Background Untuk From Ganti Sandi */
#Data{
    background-color: #A39FF1;
    height: 450px;
    width: 700px;
    border-radius: 10px;
}

/* Bagian Judul */
#Judul{
    padding-top: 3rem;
}

/* Bagian Input & Tombol Perihal Kata Sandi */
#floatingPassword, #TombolSubmit{
    width: 500px;
    border-radius: 10px;
    color:rgb(0, 0, 0);
    align-items: center;
}

/* Bagian Input Perihal Kata Sandi */
#KeteranganInput{
    margin-left: 100px;
}

/* Bagian Tombol Perihal Kata Sandi */
#TombolSubmit{
    background-color: #E4E837;
    height: 45px;
}