*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #209CF2; /*#B97ab4*/
    color: rgb(255, 255, 255);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 50px;
    max-height: 70px;    
}  
    

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}


/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 5rem;
}

/* Bagian Judul */
#Judul{
    font-size: 35px;
    text-align: center;
}

#Alamat{
    font-size: 25px;
    text-align: center;
}

/* Bagian Deskripsi Pertama */
#Deskripsi{
    font-size: 33px;
    text-align: center;
}

/* Bagian Deskripsi Kedua */
#Copyright{
    text-align: center;
    color:rgb(0, 0, 0);
}

/* Bagian Gambar Wayang */
#GambarWayang{
    height: 210px;
    width: 200px;
}

/* Bagian Gambar Bus */
#GambarBus{
    height: 450px;
    width: 600px;
}