*{
    padding: 0px;
    margin: 0px;
    font-family: 'Josefin Slab', serif;
}

/* Bagian Body */
body{
    background-color: #2D86C4;
    color: #ffffff;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    /*padding-left: 100px;*/
    padding-right: 150px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: rgb(255, 255, 255);
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}

.navbar-nav > .nav-item > .nav-link:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(105,189,210);
    border-radius: 40px 20px;
}


/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 5rem;
}

/* Bagian Judul */
#Ucapan{
    font-size: 55px;
    text-align: justify
}

/* Bagian Deskripsi Pertama */
#Deskripsi1{
    font-size: 32px;
    text-align: justify;
    max-width: 460px;
}

/* Bagian Deskripsi Kedua */
#Deskripsi2{
    font-size: 32px;
    text-align: justify;
    /*max-width: 450px;*/
    max-width: 580px;
}

/* Bagian Gambar */
#GambarWayang{
    height: 550px;
    width: 800px;
    padding-right: 300px;
}


/* Bagian Button Masuk Dan Button Daftar */
#FontButton{
    color: rgb(0, 0, 0);
    background-color: rgba(237, 28, 36, 0.8);
    font-weight: bold;
    margin-left: 12px;
    width: 135px;
    height: 40px;
}