*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #209CF2; /*#B97ab4*/
    background-image: url('../Img/Wayang.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 50px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

#Notifikasi{
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 25vh;
}