*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

/* Bagian Body */
body{
    background-color:#209CF2;
    color: #ffffff;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 50px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
} 


/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 8rem;
    color:black;
    height:100vh;
    font-weight: bold; /* Mengatur tulisan agar cetak tebal atau bold */
}

#KeteranganInput {
    /* Mengatur bagian id = keterangan input */
    font-weight: bold;
    font-family: 'Josefin Slab', serif;
}

#KolomAgen {
    display: flex;
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 900px;
    align-self: center;

}

#nav-Link {
    font-size: 60px;
    /*padding-left: 100px;*/
    padding-left: 850px;
    color: black;


}

#judul {
    font-weight: bold;
    color: black;
}

h1 {
    font-weight: bold;
}

#temukanTiket {
    padding-left: 100px;
    color: white;
}

#floatingCari {
    width: 250px;
    border-radius: 10px;
}

#Cari {
    font-size: 20pt;
    width: 100px;

}

#formCari {
    padding-left: 75px;
    font-weight: 700px;
}

#reviewTiket {
    width: 250px;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

#kolomTiket {
    background-color: #fff;
    color:black;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

    margin-left:10px;
    margin-right:10px;
}

#KolomAlamat{
    background-color: #fff;
    color:black;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

    margin-left:10px;
    margin-right:10px;
}

#Find{
    background-color: #fff;
    color:black;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;

    margin-left:10px;
    margin-right:10px; 
}
/* bagian icon location */
#IconLocation{
    color:black;
    font-size:35px;
}

/* bagian icon eye */
#IconEye{
    color:black;
    font-size:35px;
}

#IconMedsos{
    color:black;
    font-size:35px;
}