*{
    padding: 0px;
    margin: 0px;
    font-family: 'Merriweather', serif;
}

body{
    background-color: #2D86C4; /*#B97ab4*/
    background-image: url('../Img/Wayang.png');
    background-position: -150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* Bagian NavBar*/
.navbar{
    background-color: #ffffff;
}

#navbarNav{
    font-size: 30px;
    color: #000000;
    /*padding-left: 100px;*/
    padding-right: 80px;
    max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
    color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar-nav > .nav-item > .nav-link:hover{
    color: rgb(255, 0, 0);
    background-color: rgb(105,189,210);
    border-radius: 40px 20px;
}

/* Bagian Konten */

#Konten{
    /* Memberikan jarak antara navbar dengan isi konten */
    padding-top: 6rem;
}

/* Bagian Timeline atau Seruan/Ajakan yang meiputi h1 & h3 */
.Timeline{
    color: #ffffff;
    text-align: center;
}

/* Bagian Judul */
.Judul{
    font-size: 58px;
    padding-top: 20px;
}

/* Bagian Input Kota Asal & Kota Tujuan */
#InputKeberangkatan{
    border-radius: 10px;
    color:rgb(0, 0, 0);
    margin-top: 75px;
}

/* Bagian Input Jadwal Keberangkatan */
#floatingDate{
    height: 52px;
    width: 500px;
    border-radius: 10px;
    color:rgb(0, 0, 0,);
    margin-top: 75px;
}

/* Bagian Tombol Cari */
#TombolSubmit{
    text-align: center;
    font-weight: bold;
    color:rgb(0, 0, 0);
    background-color: rgba(237, 28, 36, 0.8);
    height: 45px;
    width: 110px;
    margin-top: 35px;
}