* {
  padding: 0px;
  margin: 0px;
  font-family: "Merriweather", serif;
}

body {
  background-color: #209CF2; /*#B97ab4*/
  background-image: url("../Img/Wayang.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(0, 0, 0);
  height: 100vh;
}

/* Bagian NavBar*/
.navbar{
  background-color: #ffffff;
}

#navbarNav{
  font-size: 30px;
  color: #000000;
  /*padding-left: 100px;*/
  padding-right: 50px;
  max-height: 70px;
}

.nav-link, .navbar-toggler-icon{
  color: #000000;
}

.navbar-nav > .nav-item > .nav-link{
  color: rgb(0, 0, 0);
}

/* Bagian Konten */

#Konten {
  /* Memberikan jarak antara navbar dengan isi konten */
  padding-top: 6rem;
}

/* Bagian Untuk Background Paling Belakang(Ukuran Background Yang Besar) */
#Deskripsi {
  background-color: rgba(255, 255, 255, 0.52);
  height: 80vh;
  width: 95%;
  border-radius: 10px;
}

/* Bagian Untuk Background Pada Narasi(Ukuran Background Yang Kecil) */
#IsiDeskripsi {
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  height: 25vh;
  width: 65%;
  margin-top: 150px;
  border: 1px solid black;
}

/* Bagian Deskripsi Tentang Notifikasi Pembayaran Tiket */
#Narasi {
  max-height: 350px;
  max-width: 800px;
  padding-top: 10px;
  text-align: center;
}

/* Bagian Tombol Selesai dan Tombol Cetak */
#TombolSelesai, #TombolCetak {
  color: rgb(255, 255, 255);
  width: 150px;
  height: 45px;
  margin-top: 50px;
  border-radius: 10px;
}

/* Bagian Tombol Cetak */
#TombolCetak {
  background-color: #ed1c24;
}

/* Bagian Tombol Selesai */
#TombolSelesai {
  background-color: #06cb0e;
}

/* Bagian Ikon Sukses */
#IconSukses {
  color: #06cb0e;
  font-size: 27px;
}
